@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fundo da tela */

html {
    width: 100vh;
    height: 100vh;
    font-size: 62.5%;
    color: black;
    font-family: 'Lato', sans-serif;
}